*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 1rem;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
}

h1 {
  margin-bottom: 1.5rem;
}

.input-box {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 600px;
}

input {
  padding: 0.2rem;
  min-width: 0;
  width: 100%;
}

button {
  padding: 0.2rem 0.8rem;
  cursor: pointer;
}

#add-edit-modal {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 100%;
  max-width: 600px;
  padding: 2rem 3rem;
}

#mobile-preview {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 100%;
  max-width: 300px;
  padding: 2rem;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pfp,
.pfp-mobile {
  width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid black;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfp span,
.initials-mobile {
  font-size: 5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.modal-body-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-body-mobile p {
  display: flex;
  justify-content: space-between;
}

.modal-body .close-btn {
  border: none;
  background: none;
  padding: 0;
  align-self: flex-end;
}

.close-btn-mobile {
  display: flex;
  justify-self: flex-end;
  border: none;
  background: none;
}

.modal-body input {
  flex: 0 0 auto;
  margin-bottom: 1rem;
}

.btns-wrapper,
.btns-wrapper-mobile {
  display: flex;
  gap: 0.8rem;
  width: 100%;
  margin-top: 1rem;
}

.btns-wrapper button,
.btns-wrapper-mobile button {
  flex: 1 1 50%;
  padding: 0.5rem 0;
}

.hide {
  display: none;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  border: 1px solid black;
  margin: 1rem 0;
  height: 400px;
  width: 600px;
}

.contact-list {
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  overflow-y: auto;
  height: 100%;
}

.contact-list .empty-list {
  text-align: center;
  margin: 3rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 0.5rem;
  width: 100%;
}

.contact-preview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 2rem;
  min-height: 0;
}

.contact-preview .empty-preview {
  text-align: center;
}

.pfp-small {
  width: 150px;
  margin-bottom: 0.5rem;
}

.pfp-small span {
  font-size: 3rem;
}

.preview-icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.preview-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.justify {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

@media (max-width: 769px) {
  body {
    margin: 0 1rem;
  }
  .list-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .contact-preview {
    display: none;
  }
}
