*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  margin: 4rem 0;
}

h1 {
  margin-bottom: 1.5rem;
}

.input-box {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 600px;
}

input {
  padding: 0.2rem;
  min-width: 300px;
  flex: 1 1 70%;
}

button {
  padding: 0.2rem 0.8rem;
}

.list-wrapper {
  display: flex;
  border: 1px solid black;
  margin: 1rem 0;
  min-height: 300px;
  width: 100%;
  max-width: 600px;
}

.contact-list {
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0 2rem;
  align-self: center;
}

.contact-preview {
  border: 1px solid black;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 2rem;
}
